{% extends 'base.html' %}

{% block content %}

  <section>
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1 mt-5 fancy-forms ">
                  <!-- <div class="cardbox"> -->
                  <ul class="nav nav-tabs  mt-3" id="myTab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active" id="login" data-toggle="tab" href="#login_form" role="tab" aria-controls="login" aria-selected="true">How long will my passphrase last until brute forced?</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" id="signup" data-toggle="tab" href="#signup_form" role="tab" aria-controls="signup" aria-selected="false">How many words does my passphrase need to last x years under brute force attack?</a>
                     </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                     <div class="tab-pane fade in active" id="login_form" role="tabpanel" aria-labelledby="login">
                        <div class="fancyformcontainer">
                           <form class="form-style">
                              <div class="form-group mt-4">
                                 <p>How many words is your passphrase?</p>
                                 <div class="text_row">
                                    <div class="row-col">
                                       <input type="text" placeholder="Enter number here" class="forced years">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <p>Moore's Law?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="Moores_Law" value="yes" class="forced Moore" checked>
                                       <label>Yes</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="no" class="forced Moore">
                                       <label>No</label>
                                    </div>
                                    <span class="small-text">(Moore's Law states that a computer's processing speed doubles every two years)</span>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <p>what intervals do the attacking computers' speed increase?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="yes" class="forced computer" checked>
                                       <label>Doubles every two years</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="yes" class="forced computer">
                                       <label>Increases ~ 41% every year (equal to doubling at the two year mark)</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="no" class="forced computer">
                                       <label> Increases ~ 19% every six months (equal to doubling at the two year mark) </label>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <p>How many guesses/second can the attacker guess?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="1_trillion" class="forced guesses" checked>
                                       <label>1 trillion (Edward Snowden in 2013 estimated motivated attackers have this speed)</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess"  class="forced guesses" value="12.5">
                                       <label> 12.5 (Cryptographer Matthew Green in 2018 estimated iPhone attackers like GrayKey have this speed) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="26_million" class="forced guesses">
                                       <label> 26 million (NYPD in 2020 claimed to be able to have this speed when attacking iPhones--take it with a big grain of salt) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="300_quintillion" class="forced guesses">
                                       <label>300 quintillion (300 million trillion--strength of the entire bitcoin network) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="1_quintillion" class="forced guesses">
                                       <label>1.11 quintillion (1.11 million trillion--strength of the world's fastest supercomputer) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="custom" class="forced guesses" >
                                       <label>Custom</label>  <input type="text" placeholder="Enter a number" class="forced input_field">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group mt-4" id="has_moore">
                                 <p>Has Moore's Law been in affect since those estimates were made?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="affect" value="yes" class="forced estimates" checked>
                                       <label>Yes</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="affect" value="no" class="forced estimates">
                                       <label>No</label>
                                    </div>
                                 </div>
                              </div>

                              <div class="form-group mt-4 last-q">
                                 <p>Which characters would your password have?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="yes" class="forced characters" checked>
                                       <label>lower case letters</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="no" class="forced characters" checked>
                                       <label>numbers</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="no" class="forced characters" checked>
                                       <label>upper case letters</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="characters" value="no"class="forced characters">
                                       <label>special characters</label>
                                    </div>
                                 </div>
                              </div>
                           <div class="result_left_tab">
                            <div class="form-group mt-4 result_passphrase">
                                 <p class="resulte"><b>Result:</b> Your passphrase will last for (answer) years.</p>
                              </div>
                            <div class="form-group mt-4 passphrase_entropy">
                               <p class="resulte"><b>Your passphrase entropy:</b> </p>
                           </div>
                              <div class="form-group mt-4 result_password">
                                 <p class="resulte"><b></b> For equivalent password strength, you would need a password with (answer) characters. </p>
                              </div>         

                           </div>
                              <div class="text-left">
                                 <button type="submit" class="btn formsubmitbtn">Submit</button>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="signup_form" role="tabpanel" aria-labelledby="signup">
                        <div class="fancyformcontainer">
                           <form class="form-style">
                              <div class="form-group mt-4">
                                 <p>How many years do you want your passphrase to last?</p>
                                 <div class="text_row">
                                    <div class="row-col">
                                       <input type="text" placeholder="Enter number here" class="forced years">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <p>Moore's Law?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="moores_Law" value="yes" class="forced Moore" checked>
                                       <label>Yes</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="moores_Law" value="no" class="forced Moore">
                                       <label>No</label>
                                    </div>
                                    <span class="small-text">(Moore's Law states that a computer's processing speed doubles every two years)</span>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <p>what intervals do the attacking computers' speed increase?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="yes" class="forced computer" checked>
                                       <label>Doubles every two years</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="yes" class="forced computer">
                                       <label>Increases ~ 41% every year (equal to doubling at the two year mark)</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="speed_increase" value="no" class="forced computer">
                                       <label> Increases ~ 19% every six months (equal to doubling at the two year mark) </label>
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group mt-4">
                                 <p>How many guesses/second can the attacker guess?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="1_trillion" class="forced guesses" checked>
                                       <label>1 trillion (Edward Snowden in 2013 estimated motivated attackers have this speed)</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess"  class="forced guesses" value="12.5">
                                       <label> 12.5 (Cryptographer Matthew Green in 2018 estimated iPhone attackers like GrayKey have this speed) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="26_million" class="forced guesses">
                                       <label> 26 million (NYPD in 2020 claimed to be able to have this speed when attacking iPhones--take it with a big grain of salt) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="300_quintillion" class="forced guesses">
                                       <label>300 quintillion (300 million trillion--strength of the entire bitcoin network) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="1_quintillion" class="forced guesses">
                                       <label>1.11 quintillion (1.11 million trillion--strength of the world's fastest supercomputer) </label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="attacker_guess" value="custom" class="forced guesses" >
                                       <label>Custom</label>  <input type="text" placeholder="Enter a number" class="forced input_field">
                                    </div>
                                 </div>
                              </div>
                              <div class="form-group mt-4" id="has_moore_right_tab">
                                 <p>Has Moore's Law been in affect since those estimates were made?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="radio" id="" name="affect" value="yes" class="forced estimates" checked>
                                       <label>Yes</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="radio" id="" name="affect" value="no" class="forced estimates">
                                       <label>No</label>
                                    </div>
                                 </div>
                              </div>
      
                              <div class="form-group mt-4 last-q">
                                 <p>Which characters would your password have?</p>
                                 <div class="raido-row">
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="yes" class="forced characters" checked>
                                       <label>lower case letters</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="no" class="forced characters" checked>
                                       <label>numbers</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="no" class="forced characters" checked>
                                       <label>upper case letters</label>
                                    </div>
                                    <div class="row-col">
                                       <input type="checkbox" id="" name="characters" value="no" class="forced characters">
                                       <label>special characters</label>
                                    </div>
                                 </div>
                              </div>
                               <!--  <div class="result_right_tab">
                                    <p class="resulte"><b>Result:</b> Your passphrase needs to have (answer) words.</p>
                                   <p class="resulte"><b>Your passphrase entropy:</b> </p>
                                 <p class="resulte "> For equivalent password strength, you would need a password with (answer) characters. </p>
                              </div>  -->

                                 <div class="result_right_tab">
                            <div class="form-group mt-4 result_passphrase">
                                 <p class="resulte"><b>Result:</b>  Your passphrase needs to have (answer) words.</p>
                              </div>
                            <div class="form-group mt-4 passphrase_entropy">
                               <p class="resulte"><b>Your passphrase entropy:</b> </p>
                           </div>
                              <div class="form-group mt-4 result_password">
                                 <p class="resulte"><b></b> For equivalent password strength, you would need a password with (answer) characters. </p>
                              </div>         

                           </div>
                              <div class="text-left">
                                 <button type="submit" class="btn formsubmitbtn">Submit</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!--  </div> -->
                  <a href="{{ url_for('support')}}" class="support-link">Support</a>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
