{% extends 'base.html' %}

{% block content %}

      <section>
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1 mt-5 fancy-forms ">
                  <!-- <div class="cardbox"> -->
                  <ul class="nav nav-tabs  mt-3" id="myTab" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active "  data-toggle="tab" href="#left_tab_content" role="tab" aria-controls="left_tab" aria-selected="true" data-attr="left_tab">How long will my passphrase last until brute forced?</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link " id="signup" data-toggle="tab" href="#right_tab_content" role="tab" aria-controls="signup" aria-selected="false" data-attr="right_tab"> How many words does my passphrase need to be, to last <i style="
                           display: contents;
                       ">x</i>  years under a brute force attack?     </a>
                     </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                     {% include "left.html" %}
                     {% include "right.html" %}
                  </div>
                  <!--  </div> -->
                   <a href="{{ url_for('support')}}" class="support-link">Support</a>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
